body {
    font-family: Arial, sans-serif;
    background-image: url(./assets/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.form-width {
    float: left;
    width: 50%;
}

#dinner {

    width: 80%;
}

.dog-gif {
    flex: 1;
    float: right;
    width: 50%;
    height: 50px;
    background-color: #ccc;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAE0B7;
    padding: 10px;
    width: 100%;
}

.navbar .siteName {
    font-weight: 900;
    font-size: 20px;
    color: #965529;
}

.navbar a {
    color: #c47845;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #8391DC;
}

.navbar a.icon {
    display: none;
}

@media only screen and (max-width: 700px) {
    .navbar {
        flex-wrap: wrap;
    }

    .navbar a:not(:first-child) {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }

    .navbar.responsive a.item {
        float: none;
        display: block;
        text-align: left;
        padding-bottom: 30px;
    }
}

/* Form Styling */
form {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    color: #fff;
    max-width: 400px;
    margin: 25% 20% 10% 10%;
    float: left;
    padding-right: 5%;
}

section{
    background-color: #45a049;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    display: block;
    margin-top: 10px;
}

/* Button Styles */
.button {
    background-color: #f6ad7b;
    border: none;
    color: #ffffff;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: auto;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 220px;
    border-radius: 30px;
    transition: 0.3s;
}

.button:hover {
    background-color: #ed6969;
}

/* Footer Styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    width: 100%;
}

footer a {
    color: #141414;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #ed6969;
    text-decoration: underline;
}

@media only screen and (max-width: 700px) {
    footer {
        flex-wrap: wrap;
    }
}

/* Miscellaneous Styles */
.cover {
    height: 100%;
    padding-top: 100px;
}

.white {
    background-color: #f2eee5;
    color: rgb(14, 10, 8);
}

.orange {
    background-color: #f6ad7b;
    color: #fff;
}

.salmon {
    background-color: #FAE0B7;
}

.brown {
    background-color: #CAA184;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column-two {
    flex: 0 0 44%;
    text-align: left;
    padding: 2%;
}

.column-three {
    flex: 0 0 33.333%;
}

.column-four {
    flex: 0 0 23%;
    margin: 1%;
}

.column-two img {
    width: 120%;
}

.center {
    text-align: center;
}
